<header>
    <!-- navbar -->
    <app-navbar></app-navbar>
</header>
<section>
    <!-- subtitulo e botão + -->
    <div id="subtitle" class="d-flex justify-content-between">
         <div>
            <h2>Termos</h2>
            <h3>Qual termo gostaria de acessar hoje?</h3>
        </div>
        <div class="btn-wrapper">
            <div class="btn">
                <img src="assets/icons/more-icon.svg" alt="plus icon">
                <p >Adicionar turma</p>
            </div>
        </div>
    </div>
    <!-- cards -->
    <div class="grid">
        <div id="card-1" class="card">
            <h4>1º Termo</h4>
        </div>
        <div id="card-2" class="card">
            <h4>2º Termo</h4>
        </div>
        <div id="card-3" class="card">
            <h4>3º Termo</h4>
        </div>
        <div id="card-4" class="card">
            <h4>4º Termo</h4>
        </div>
        <div id="card-5" class="card">
            <h4>5º Termo</h4>
        </div>
        <div id="card-6" class="card">
            <h4>6º Termo</h4>
        </div>
    </div>
</section>
