<div id="container" clas="container-sm d-flex align-items-center justify-content-center">
    <section clas="d-flex align-items-center justify-content-center">
        <div id="container-image" clas="container-xxl d-flex align-items-center justify-content-center">
            <app-login-image></app-login-image>
        </div>
        <div id="container-form" clas="container-xxl d-flex align-items-center justify-content-center">
            <app-login-form></app-login-form>
        </div>
    </section>
</div>
