// tamanho do formulário
#container-form {
    min-width: 300px;
    max-width: 600px; 
    padding: 20px;  
}

// tamanho da imagem
#container-image {
    flex-basis: 50%;  // A imagem ocupa 50% do container
    max-width: 800px; 
}

// imagem não ultrapasse o tamanho do container
img {
    max-width: 100%; 
    height: auto;    
}

// esconde a imagem em telas menores
@media screen and (max-width: 768px) {
    
    #container-image {
        display: none;
    }

    //formulário ocupa toda a largura da tela
    #container-form {
        min-width: 100%;
        max-width: 100%;
        padding: 15px;
    }
}
