#navbar{
    background-color: #21BC6B;
    min-height: 92px;
}

#logo{
    padding-left: 30px;
    display: flex;
    gap: 20px;
}

.logo-text{
    
}

#hamburguer-button{
    border: none;
    padding-right: 30px;
}
