// configuração de fonte e cores
p, h1, h2, h3, label, input, a, ::placeholder{
    font-family: 'Poppins', sans-serif;
  }

//   navbar
#navbar{
    background-color: #21BC6B;
    min-height: 92px;
    padding-left: 40px;
    padding-right: 40px;
}

#logo{
    display: flex;
    gap: 20px;
}

h3{
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
}

#hamburguer-button{
    border: none;
    padding-right: 30px;
}

// lista de itens
.navbar-nav{
    gap: 20px;
}

a{
    font-size: 22px;
    font-weight: 300;
    color: white;
}

@media only screen and (max-width: 800px) {
    #navbar{
        padding-left: 16px;
        padding-right: 4px;
    }

    .hamburguer-button{
        padding: 0;
    }
}
