<nav id="navbar" class="navbar navbar-expand-xl">
    <div id="navbar" class="container-fluid">
        <div id="logo">
            <img src="assets/images/Logo-white.svg" alt="white bag logo">
            <div>
                <h3>Guia do Mochileiro</h3>
                <h3>Fatecando</h3>
            </div>
        </div>
        <!-- hamburguer button -->
        <button id="hamburguer-button" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <img src="assets/icons/menu-icon.svg" alt="icon of a hamburgue button">
        </button>
        <!-- itens a serem colapsados -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item d-flex">
            <img src="assets/icons/home-icon.svg" alt="home icon">
            <a class="nav-link">Home</a>
          </li>
          <li class="nav-item d-flex">
            <img src="assets/icons/bell-icon.svg" alt="bell icon">
            <a class="nav-link" >Notificações</a>
          </li>
          <li class="nav-item d-flex">
            <img src="assets/icons/book-icon.svg" alt="book icon">
            <a class="nav-link" >Matérias</a>
          </li>
          <li class="nav-item d-flex">
            <img src="assets/icons/star-icon.svg" alt="star icon">
            <a class="nav-link ">Valores</a>
          </li>
          <li class="nav-item d-flex">
            <img src="assets/icons/log-in-icon.svg" alt="log out icon">
            <a class="nav-link ">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
