// formulário não segue o tamanho do pai
form{
    width: 100%;
}

// configuração de fonte e cores
p, h1, label, input, a, ::placeholder{
    font-family: 'Poppins', sans-serif;
  }

h1{
    font-size: 24px;
    font-weight: 600;
}

label{
    color: #858E97;
    font-size: 16px;
    font-weight: 400;
}

::placeholder{
    color: #CDD4DA;
    font-size: 16px;
    font-weight: 400;
}

button{
    background-color: #21BC6B;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

p{
    color: #858E97;
}

a{
    color:#21BC6B;
    text-decoration: none;
}

// Estilos para o campo de senha com ícone
.position-relative {
    position: relative;
}

.icon-password {
    position: absolute;
    right: 10px;
    top: 75%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.input-with-icon {
    padding-right: 40px; /* Cria espaço suficiente para o ícone */
}