
<!-- logo e titulo -->
<div class="justify-content-center align-items-center text-center">
    <h1 class="mt-4" >Cadastre-se</h1>
</div>
<!-- formulário -->
<form>
    <!-- input nome -->
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label ">Nome</label>
        <input type="email" class="form-control" id="exampleInputEmail1">
        </div>

    <!-- input email -->
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label ">E-mail</label>
    <input type="email" class="form-control" id="exampleInputEmail1">
    </div>

    <!-- input senha -->
    <div class="mb-3 position-relative">
    <label for="exampleInputPassword1" class="form-label">Senha</label>
    <input type="password" class="form-control" id="password">
    <!-- Ícone posicionado como elemento independente -->
    <img src="assets/icons/lock-open-icon.svg" alt="Ícone de cadeado" class="icon-password">
    </div>

    <!-- input confirme senha -->
    <div class="mb-3 position-relative">
        <label for="exampleInputPassword1" class="form-label">Confirme sua senha</label>
        <input type="password" class="form-control" id="password">
        <!-- Ícone posicionado como elemento independente -->
        <img src="assets/icons/lock-close-icon.svg" alt="Ícone de cadeado" class="icon-password">
        </div>

    <div class="d-grid gap-2 mt-4">
    <button class="btn btn-primary " routerLink="/home">Cadastrar</button>
    </div>
    
</form>
<p class="text-center mt-4">Já possui conta? <a routerLink="/">Entrar</a></p>
  
    
