
<!-- logo e titulo -->
<div class="justify-content-center align-items-center text-center">
    <h1 class="mt-4" >Cadastre-se</h1>
</div>
<!-- formulário -->
<form>
    <!-- input email -->
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label ">E-mail</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="exampleInputEmail1" placeholder="Digite seu e-mail">
    </div>
    <!-- input senha -->
    <div class="mb-3 position-relative">
    <label for="exampleInputPassword1" class="form-label">Senha</label>
    <input type="password" class="form-control" id="password" placeholder="Digite sua senha">
    <!-- Ícone posicionado como elemento independente -->
    <img src="assets/icons/lock-close-icon.svg" alt="Ícone de cadeado" class="icon-password">
    </div>

    <div class="d-grid gap-2 mt-4">
    <button class="btn btn-primary " routerLink="./home">Entrar</button>
    </div>
    
</form>
<p class="text-center mt-4">Ainda não possui conta <a routerLink="./register">Cadastrar-se</a></p>
  
    
